nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    background: #333;
}

nav ul li {
    display: inline-block;
    background-color: #333;
}

nav a {
    display: inline-block;
    padding: 0 14px;
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    text-decoration: none;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover > ul {
    display:inherit;
}

nav ul ul li {
    width:210px;
    float:none;
    display:list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top:-40px;
    left:210px;
}

li > a:after {
    content:  ' ▼';
}
li > a:only-child:after {
    content: '';
}

nav ul li:hover > ul {
    display: block;
}

nav ul li:hover {
    background-color: #6A5ACD;
}

nav ul li:hover > a {
    color: #fff;
}

.searcher:hover {
    background-color: #333;
}
