<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/navStyle.css">
        <link rel="stylesheet" type="text/css" href="../css/ViewReserve.css">
    </head>
    <body>
        <nav>
            <ul>
                <li class="dropdown">
                    <a href="#">Perfil <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/user}">Ver perfil</a></li>
                        <li><a href="#">Notificaciones</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/logout}">Cerrar sesión</a></li>
                <li><a th:href="@{/home}">Inicio</a></li>
            </ul>
        </nav>
        <div class="card">
            <p>menu ver reservas</p>
        </div>
    </body>
</html>
