<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Crear una Estancia</title>
        <link rel="stylesheet" href="../css/navStyle.css">
        <link rel="stylesheet" type="text/css" href="../css/previoEstanciaStyle.css">
        <script src="../js/menuPerfil.js"></script>
    </head>
    <body>

        <nav>
            <ul>
                <li class="dropdown">
                    <a href="#">Perfil <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/user/notifications}">Notificaciones</a></li>
                        <li><a th:href="@{/user}">Ver perfil</a></li>
                        <li><a th:href="@{/update-user}">Modificar perfil</a></li>
                        <li><a th:href="@{/logout}">Cerrar sesión</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/home}">Inicio</a></li>
                <li><a th:href="@{/view-reserve/myReserves-tenant}">Reservas Alquiladas</a></li>
                <li><a th:href="@{/view-reserve/myReserves-owner}">Reservas Publicadas</a></li>
            </ul>
        </nav>

        <div class="card">
            <h1>Bienvenido/a</h1>
            <p>No hemos encontrado una propiedad asociado a tu cuenta. Por favor, ingresa uno para poder continuar.</p>
            <form method="get" th:action="@{/dwelling/}">
                <button type="submit">Ingresar propiedad</button>
            </form>
        </div>
    </body>
</html>
