<!DOCTYPE html>
<html>
    <head>
        <title>Resetting Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/navStyle.css">
        <link rel="stylesheet" href="../css/createAccountStyle.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a th:href="@{/login}">¡Inicia Sesión!</a></li>
                <li><a th:href="@{/signup/user}">¡Crea una cuenta!</a></li>
                <li><a th:href="@{/index}">Inicio</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>¡Último paso!</h1>
            <p>Elija su nueva contraseña:</p>
        </div>
        <div th:if="${error != null}" class="alert-danger" role="alert">
            <span th:text="${error}"></span>
        </div>

        <form th:action="@{/resettingPassword/step3-post}" method="POST">

            <input hidden=""
                   id="userMail" 
                   name="userMail" 
                   th:value="${userMail}">  

            <label for="password">Nueva contraseña:</label>
            <input type="password" 
                   id="password" 
                   name="password" 
                   required>

            <label for="confirm_password">Confirmar contraseña:</label>
            <input type="password" 
                   id="confirm_password" 
                   name="confirm_password" 
                   required>
            <button class="button-sumbit" type="submit">Cambiar contraseña</button>
        </form>
    </body>
</html>
